<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
  <a class="navbar-brand" href="#" routerLink="home">
    <img src="../../assets/logo-transparent.png" alt="Logo" width="25%">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" *ngIf="authenticated" routerLink="dashboard">Dashboard<span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" *ngIf="!authenticated" routerLink="login">
        Login
      </button>
      <button class="btn btn-success my-2 my-sm-0" type="button" *ngIf="!authenticated" routerLink="register"
              style="margin-left: 5px">Register
      </button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" *ngIf="authenticated" routerLink="logout"
              style="margin-left: 5px">Logout
      </button>
    </div>
  </div>
</nav>
