<div class="container">
  <br>
  <h3 class="text-center">Hi, <b> {{ email }}</b></h3>
  <br>
  <br>

  <h2>My Active Courses</h2>
  <div class="container align-items-center">
    <div class="row">
      <div class="column" style="margin-right: 1%">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header"><b>CIT 591: Introduction to Software Engineering</b></div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="text-danger card-text"><b>1</b> Important Announcements</h6>
            <h6 class="text-success card-text"><b>5</b> new posts</h6>
            <h6 class="text-success card-text"><b>10</b> unread posts</h6>
            <br>
            <button class="btn btn-primary">Go to Course</button>
          </div>
        </div>
      </div>
      <div class="column" style="margin-right: 1%">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header"><b>CIS 455 - Internet and Web Systems</b></div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="text-danger card-text"><b>1</b> Important Announcements</h6>
            <h6 class="text-success card-text"><b>5</b> new posts</h6>
            <h6 class="text-success card-text"><b>10</b> unread posts</h6>
            <br>
            <button class="btn btn-primary">Go to Course</button>
          </div>
        </div>
      </div>
      <div class="column" style="margin-right: 1%">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header"><b>CIS 320 - Introduction to Algorithms</b></div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="text-danger card-text"><b>1</b> Important Announcements</h6>
            <h6 class="text-success card-text"><b>5</b> new posts</h6>
            <h6 class="text-success card-text"><b>10</b> unread posts</h6>
            <br>
            <button class="btn btn-primary">Go to Course</button>
          </div>
        </div>
      </div>
      <div class="column" style="margin-right: 1%">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header"><b>CIS 421 - Artificial Intelligence</b></div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="text-danger card-text"><b>1</b> Important Announcements</h6>
            <h6 class="text-success card-text"><b>5</b> new posts</h6>
            <h6 class="text-success card-text"><b>10</b> unread posts</h6>
            <br>
            <button class="btn btn-primary">Go to Course</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

