<div class="container">
  <br>
  <h3 class="text-center">Hi, <b> {{ email }}</b> <p class="text-danger"><b>[{{user.role}}]</b></p></h3>
  <h5>Actions</h5>
  <button class="btn btn-primary" *ngIf="isInstructor" routerLink="/course/create" style="margin-right: 5px">Create Course</button>
  <button class="btn btn-primary" routerLink="/course/join">Join a Course</button>
  <br> <br> <br>

  <h3>My Courses</h3>
  <div class="container align-items-center">
    <div class="row">
      <div *ngFor="let course of courses" class="column" style="margin-right: 1%">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header" [textContent]="course.name"><b></b></div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="text-danger card-text"><b>1</b> Important Announcements</h6>
            <h6 class="text-success card-text"><b>5</b> new posts</h6>
            <h6 class="text-success card-text"><b>10</b> unread posts</h6>
            <br>
            <button class="btn btn-primary" [routerLink]="'/course/' + course.id">Go to Course</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

