<div class="container">
  <br>
  <h3 class="text-center">Hi, <b> {{ email }}</b> <p class="text-danger"><b>[{{role}}]</b></p></h3>
  <h5>Actions</h5>
  <button class="btn btn-primary" *ngIf="isInstructor" routerLink="/course/create" style="margin-right: 5px">Create Course</button>
  <button class="btn btn-primary" routerLink="/course/join">Join a Course</button>
  <br> <br> <br>

  <h3>My Courses</h3>
  <div class="container align-items-center">
    <div class="row">
      <div *ngFor="let course of courses" class="column" style="margin-right: 1%">
        <div *ngIf="course != undefined" class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header" [textContent]="course.name"><b></b></div>
          <div class="card-body">
            <div >

            </div>
            <div  *ngFor="let count of [getNewInstructorPostCount(course)]" style="margin-bottom: 5px">
              <h6 *ngIf="count != 0" class="text-danger card-text"><b>{{count}}</b> unread instructor post</h6>
            </div>
            <div  *ngFor="let count of [getHasNoAnswerCount(course)]" style="margin-bottom: 5px">
              <h6 *ngIf="count != 0" class="text-danger card-text"><b>{{count}}</b> questions has no answer</h6>
            </div>
            <div  *ngFor="let count of [getUnresolvedFollowupCount(course)]" style="margin-bottom: 5px">
              <h6 *ngIf="count != 0" class="text-danger card-text"><b>{{count}}</b> unresolved followup questions</h6>
            </div>
            <div *ngFor="let count of [getNewAndGoodQuestionCount(course)]" style="margin-bottom: 5px">
              <h6 *ngIf="count != 0" class="text-success card-text"><b>{{count}}</b> new good questions</h6>
            </div>
            <div *ngFor="let count of [getNewAndGoodFollowupQuestionCount(course)]" style="margin-bottom: 5px">
              <h6 *ngIf="count != 0" class="text-success card-text"><b>{{count}}</b> new good followup questions</h6>
            </div>
            <br>
            <button class="btn btn-primary" [routerLink]="'/course/' + course.id" style="margin-right: 5px">Go to Course</button>
            <button *ngIf="isInstructor" class="btn btn-secondary" [routerLink]="'/course/' + course.id + '/settings'" >Settings</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

