<div class="container">
  <br>
  <h3>Course Settings: {{course.name}}</h3>
  <hr>
  <div class="row">

    <div class="col">
      <br>
      <b>Currently enrolled students ({{course.studentIds.length}})</b>
      <div class="row">
        <div class="col">
          <p disabled style="margin-right: 5px; margin-top: 5px"><i>{{course.studentIds.join(', ')}}</i></p>
        </div>
      </div>
      <label for="inviteStudents"><b class="text-primary" (click)="showInviteStudent = !showInviteStudent">Invite additional students</b></label><br>
      <textarea *ngIf="showInviteStudent" name="inviteStudents" id="inviteStudents" style="width: 100%" rows="3"
                placeholder="Enter students email, separated by comma" [(ngModel)]="newStudentsEmailString"></textarea>
      <br>
      <button *ngIf="showInviteStudent" class="btn btn-primary" (click)="addStudents()">Invite</button>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col">
      <br>
      <b>Currently registered instructors ({{course.instructorIds.length}})</b>
      <div class="row">
        <div class="col">
          <p disabled style="margin-right: 5px; margin-top: 5px"><i>{{course.instructorIds.join(', ')}}</i></p>
        </div>
      </div>


      <label  for="inviteInstructor"><b class="text-primary" (click)="showInviteInstructor = !showInviteInstructor">Invite additional instructor</b></label><br>
      <textarea *ngIf="showInviteInstructor" name="inviteInstructor" id="inviteInstructor" style="width: 100%" rows="3"
                placeholder="Enter students email, separated by comma"
      [(ngModel)]="newInstructorsEmailString"></textarea>
      <br>
      <button *ngIf="showInviteInstructor" class="btn btn-primary" (click)="addInstructors()">Invite</button>
    </div>
  </div>
  <hr>


  <div class="row">
    <div class="col">
      <br>
      <p><b>Currently Available Folders: </b></p>
      <div class="row">
        <div class="col">
          <p style="margin-right: 5px; margin-top: 5px"
                  ><i>{{folders.join(', ')}}</i></p>
        </div>
      </div>

      <label for="postFolders"><b class="text-primary" (click)="showQuestionFolder = !showQuestionFolder">Add Folders</b></label><br>
      <textarea *ngIf="showQuestionFolder"  id="postFolders" style="width: 100%" rows="3" [(ngModel)]="newFolderString"
                name="newFolderString"></textarea>
      <br>
      <button *ngIf="showQuestionFolder" class="btn btn-primary" (click)="addFolders()">Add Folder</button>
      <br>
    </div>
  </div>
  <hr>
</div>

<br><br>

<div class="container" style="border: solid 1pt red;">
  <br>
  <h1 class="text-danger">Danger Zone</h1>
  <div class="row" style=" padding: 2% 0 2% 0;">
    <div class="col text-danger">
      <label for="removeStudent">Remove students</label><br>
      <textarea name="removeStudent" id="removeStudent" style="width: 100%" rows="3"
                placeholder="Enter comma-separated student emails"
      [(ngModel)]="toRemoveStudentsEmailString"></textarea>
      <br>
      <button class="btn btn-danger" (click)="removeStudents()">Remove</button>
    </div>
  </div>

  <div class="row" style=" padding: 2% 0 2% 0;">
    <div class="col">
      <button *ngIf="user.email === course.creatorInstructorId" class="btn btn-danger"
      (click)="deleteCourse()">Delete Course</button>
    </div>
  </div>
</div>
<br>
